<header>
    <section id="site-header" class="top-header flex-container">
        <!-- Ícono de Hamburguesa y Familias de Productos ----->
        <div id="menu-button-container" class="flex-container">
            <button id="menu-button">
                <i class="fa fa-bars burger"></i>
            </button>
            <div id="nav-bar">
                <ul id="menu" class="flex-container flex-col">
                    <% for (let n of locals.categoriasDeProductos) { %> 
                        <li><a href="<%= n.link %>" class="menu-options"><%= n.nombre %></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <!-- Opción de búsqueda rápida ------------------------>
        <div id="search-container" class="flex-container">
            <form action="/" method="GET" class="flex-container" id="search-form">
                <input type="text" name="search-value" id="search-value">
                <button type="submit" id="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <!-- Logo de la Vista --------------------------------->
        <div id="logo-container" class="flex-container">
            <a href="/" class="flex-container">
                <img src="/images/varios/logo.svg" alt="Logo guitar shop" id="logo">
            </a>
        </div>
        <!-- Logo de Carrito de Compras ----------------------->
        <div id="shop-cart-container" class="flex-container">
            <a href="/carrito" class="flex-container">
                <button id="shop-cart-button">
                    <i class="fas fa-shopping-basket"></i>
                </button>
            </a>
        </div>
        <!-- Logo de Usuario ---------------------------------->
        <div id="profile-container" class="flex-container">
            <%- include('usuarioMenu') %>
        </div>
    </section>
</header>