<header>
	<section id="site-header" class="top-header flex-container">
		<!-- Ícono de Hamburguesa (Categorías) ----->
		<div id="menu-button-container" class="flex-container">
			<i onclick="desplegable('menu-categorias')" class="fas fa-bars" id="categoria-button"></i>
			<div id="menu-categorias" class="dropdown-content">
				<% for (let n of locals.categoriasDeProductos) { %> 
					<a href="<%= n.link %>" class="menu-options"><%= n.nombre %></a>
				<% } %>
			</div>
		</div>
		<!-- Opción de búsqueda rápida ------------------------>
		<div id="search-container" class="flex-container">
			<form action="/" method="GET" class="flex-container" id="search-form">
				<input type="text" name="search-value" id="search-value">
				<button type="submit" id="search-button">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
		<!-- Imagen de la Guitarra --------------------------------->
		<div id="logo-container" class="flex-container">
			<a href="/" class="flex-container">
				<img src="/images/varios/logo.svg" alt="Logo guitar shop" id="logo">
			</a>
		</div>
		<!-- Logo de Carrito de Compras ---------------------------->
		<div id="shop-cart-container" class="flex-container">
			<a href="/carrito" class="flex-container">
				<button id="shop-cart-button">
					<i class="fas fa-shopping-basket"></i>
				</button>
			</a>    
		</div>
		<!-- Logo de Usuario o Avatar ------------------------------>
		<section id="seccionMenuUsuario">
			<div id="profile-container" class="flex-container" onclick="desplegable('menu-usuario')">
				<% if(locals.isLogged) { %>
					<script>
						document.getElementById("profile-container").style.border += "1.5px solid white"
					</script>
					<img
						src="/images/users/<%= locals.usuarioLogeado.avatar %>"
						class="boton-desplegable"
						id="imagenUsuario"
					>
				<% } else { %>
					<i class="boton-desplegable fas fa-user" id="profile-button"></i>
				<% } %>
			</div>
			<div id="menu-usuario" class="dropdown-content">
				<% if (locals.isLogged) { %>
					<a href="/usuario/detalle">Detalle de Usuario</a>
					<a href="/usuario/logout">Logout</a>
					<% if (locals.usuarioLogeado.rol_id == 1) { %>
						<a href="/producto/crear">Crear Producto</a>
					<% } %>
				<% } else { %>
					<a href="/usuario/login">Login</a>
					<a href="/usuario/crear">Registrarse</a>
				<% } %>
			</div>
		</section>
	</section>
</header>
