<header id="site-header" class="top-header flex-container">
    <div id="menu-button-container" class="flex-container">
        <button id="menu-button">
            <i class="fa fa-bars burger"></i>
        </button>
        <div id="nav-bar">
            <ul id="menu" class="flex-container flex-col">
                <li><a href="#" class="menu-options">Guitarras eléctricas</a></li>
                <li><a href="#" class="menu-options">Guitarras acústicas</a></li>
                <li><a href="#" class="menu-options">Bajos</a></li>
                <li><a href="#" class="menu-options">Teclados</a></li>
            </ul>
        </div>
    </div>
    <div id="search-container" class="flex-container">
        <form action="/" method="GET" class="flex-container" id="search-form">
            <input type="text" name="search-value" id="search-value">
            <button type="submit" id="search-button">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <div id="logo-container" class="flex-container">
        <a href="/" class="flex-container">
            <img src="/images/varios/logo.svg" alt="Logo guitar shop" id="logo">
        </a>
    </div>
    <div id="shop-cart-container" class="flex-container">
        <a href="/carrito" class="flex-container">
            <button id="shop-cart-button">
                <i class="fas fa-shopping-basket"></i>
            </button>
        </a>
    </div>
    <div id="profile-container" class="flex-container">
        <a href="/login">
            <button id="profile-button">
                <i class="fas fa-user"></i>
            </button>
        </a>
    </div>
</header>