<i onclick="desplegable('menu-login')" class="fas fa-user" id="profile-button"></i>
<div id="menu-login" class="dropdown-content">

  <% for (let n of locals.menuUsuarios) { %> 
    <% if (n.login == locals.isLogged) { %>
      <a href="/usuario/<%= n.link %> "><%= n.nombre %> </a>
    <% } %>
  <% } %>
</div>

<script>
// When the user clicks on the button, toggle between hiding and showing the dropdown content
function desplegable(n) {document.getElementById(n).classList.toggle("mostrar");}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.fa-user')) {
    let dropdowns = document.getElementsByClassName("dropdown-content");
    for (let n of dropdowns) {
      n.classList.remove('mostrar');
    }
  }
}
</script>