<%- include('preHead') %>
<head>
    <%- include('head') %>
    <link rel="stylesheet" href="/css/crear-producto.css">
    <title>Detalle de Productos</title>
</head>

<body>
    <%- include('header') %>
    <main>
        <form action="/" action="POST">
            <h1>CREAR PRODUCTO</h1>
            <div>
                <div class="box">
                    <label for="name">Nombre del Producto</label>
                    <input type="text" id="name" name="name" placeholder="Ej: Fender Telecaster" class="form-input">
                </div>
                <div class="box">
                    <label for="image">Imagen</label>
                    <input  type="file" id="file" name="file" placeholder="file" class="form-input"  accept="image/png, image/jpeg">
                </div>
                <div class="box" >
                    <label for="price">Precio</label>
                    <input type="number" id="price" name="price" placeholder="Ej: 5678" class="form-input">
                </div>
                <div class="box" >
                    <label for="description">Descripción</label>
                    <textarea name="description" id="description" class="form-input"></textarea>
                </div>
                <div class="box">
                    <button class="button" type="submit">Guardar Producto</button>
                </div>
            </div>
        </form>
    </main>
    <%- include('footer') %>
</body>

</html>