<%- include('preHead') %>
<head>
    <%- include('head') %>
    <link rel="stylesheet" href="/css/detalle-producto.css">
    <title>Detalle de Productos</title>
</head>

<body>
    <%- include('header') %>
    <main>
        <form action="/" action="GET">
            <section>
                <div class="contenedor-padre">
                    <div class="producto">
                        <h2>Guitarra Electrica</h2>
                    </div>
                    <div class="carrito">
                        <button class="icono-carrito"><i class="fas fa-shopping-cart"></i></button>
                    </div>
                    <div class="img">
                        <article>
                            <img src="/images/products/fender-stratocaster.jpg" width="100%" alt="imagenes de Guitarra">
                        </article>
                    </div>
                    <div class="descripcion-contenedor">
                        <article class="descripcion">
                            <div class="caracteristica">
                                <h4>Caracteristicas Tecnicas</h4>
                            </div>
                            <div class="detalle">
                                <p>
                                    Guitarra electrica | Tipo STR | Diap, Rosewood | 3 micrófonos simples | Sunburts
                                    With Brown Outline
                                </p>
                            </div>
                            <div class="precio">
                                <p>3000$</p>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </form>
    </main>
    <%- include('footer') %>
</body>

</html>