body {
    font-family: "Lora", serif;
    font-size: 14px;
    background-color: #ebebeb;
}

h1 {
    text-align: center;
}

label {
    font-size: 20px;
    padding: 10px;
    margin-right: 20px;
}

.form-input {
    width: 95%;
    border-radius: 5px;
    padding: 10px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.button {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    background-color: #232f3e;
    color: white;
}
