<%- include('head') %>
<body>
    <%- include('header') %>
    <main>
        <h1>Edite su usuario</h1>
        <form action="/usuario/editar?_method=PUT" method="POST" id="formulario" enctype="multipart/form-data">
            <%- include('usuarioRegistro') %>
        </form>
    </main>
    <%- include('footer') %>
</body>

</html>