<%- include('head') %>
<body>
    <%- include('header') %>
    <main>
        <h1>Registre su usuario</h1>
        <form action="/usuario/crear" method="POST" id="formulario" enctype="multipart/form-data">
            <%- include('registroUsuario') %>
        </form>
    </main>
    <%- include('footer') %>
</body>

</html>