/* HEADER */
#site-header {
    background-color: var(--secondary-background);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
    
main {
    margin-top: 190px;
}

.top-header {
    justify-content: space-around;
    align-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

#menu-button-container,
#search-container,
#shop-cart-container,
#profile-container {
    justify-content: center;
    align-content: center;
    width: 14%;
}

#logo-container {
    justify-content: center;
    align-content: center;
    width: 44%;
}

#logo {
    width: 100%;
}

#nav-bar,
#search-value {
    display: none;
}

#menu-button,
#search-button,
#shop-cart-button,
#profile-button {
    color: var(--white);
    background-color: var(--transparent);
    border: 0px;
    font-size: 1.5em;
}

.banner-image {
    width: 100%;
}