/* HEADER */
#site-header {
    background-color: var(--secondary-background);
    padding: 5px 1em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
    
header {
    margin-bottom: 100px;
}

.top-header {
    justify-content: space-between;
    align-content: center;
}

#menu-button-container,
#search-container,
#shop-cart-container,
#profile-container {
    justify-content: center;
    align-content: center;
}

#logo-container {
    justify-content: center;
    align-content: center;
    width: 44%;
}

#logo {
    width: 90%;
    height: 100px;
}

#nav-bar,
#search-value {
    display: none;
}

#search-form {
    flex-wrap: nowrap;
}

#menu-button,
#search-button,
#shop-cart-button,
#profile-button {
    color: var(--white);
    background-color: var(--transparent);
    border: 0px;
    font-size: 1.5em;
}

.banner-image {
    width: 100%;
}

/* Menú de Login */
header #menu-login {position: absolute;right: 20px;top: 75px;z-index: 2;}
header #menu-login {border-radius: 10px; border: solid 1px var(--secondary-background); background-color: var(--primary-background); }
header #menu-login a {padding: 8px 16px;text-decoration: none; display: block;}
header #menu-login a {color:var(--gray);font-weight: bold;font-family: 'Lora', serif;}
